@charset "UTF-8";
/*
  Copyright J-LINE CORPORATION. All rights reserved.
  http://www.j-line.co.jp/
*/
html {
  font: 62.5%/1.6 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'メイリオ', 'Meiryo', 'MS UI Gothic', sans-serif;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?g297mr");
  src: url("../fonts/icomoon.eot?g297mr#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?g297mr") format("truetype"), url("../fonts/icomoon.woff?g297mr") format("woff"), url("../fonts/icomoon.svg?g297mr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icomoon-"], [class*=" icomoon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-thin-angle-up:before {
  content: "\e900";
}

.icomoon-thin-angle-right:before {
  content: "\e901";
}

.icomoon-thin-angle-left:before {
  content: "\e902";
}

.icomoon-thin-angle-down:before {
  content: "\e903";
}

.icomoon-target-blank:before {
  content: "\e904";
}

.body .trunk {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.body .trunk > .branches {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
.body .trunk > .branches > .boxpad-left {
  padding-left: 0;
}
.body .trunk > .branches > .boxpad-right {
  padding-right: 0;
}
.body .trunk > .branches > .leaf {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
.body .trunk > .branches:first-of-type {
  margin-top: 0;
}
.body .trunk > .wmax {
  max-width: 1120px;
}
.body .trunk > .boxpad {
  padding-left: 0;
  padding-right: 0;
}
.body .trunk > .liner > * {
  float: left;
}
.body .trunk:before, .body .trunk:after {
  content: " ";
  display: table;
}
.body .trunk:after {
  clear: both;
}
.body .trunk > .tbl {
  display: table;
}
.body .trunk > .tbl > * {
  display: table-cell;
}
.body .trunk > .blk {
  display: block;
}
.body .trunk > .blk > * {
  display: block;
}
.body .trunk .branches {
  min-width: 1120px;
  position: relative;
}

/* ↓ ここから - 2015/12/04 - ヘッダー、パンくずリスト、メインコンテンツ、サイドメニュー、「スペシャリストに相談」ブロック */
.body .trunk .branches.header {
	height: 131px;
}

.body .trunk .branches.grey {
	background: #F7F7F7;
}

.body .trunk .branches.dark-grey {
	background: #EFEFEF;
}

.body .trunk .branches.blue {
	background: #006FC5;
}

.body .trunk .branches .leaf.title {
	color: #1F1F1F;
	font-size: 24px;
	font-weight: normal;
	line-height: 100px;
	letter-spacing: 3px;
}

.body .trunk .branches .leaf > .breadcrum {
	display: table;
	width: 100%;
	padding: 21px 0 44px;
}

.body .trunk .branches .leaf > .breadcrum .item {
	float: left;
	color: #1F1F1F;
	font-size: 12px;
	list-style-type: none;
}

.body .trunk .branches .leaf > .breadcrum .separator {
	padding: 0 5px;
}

.body .trunk .branches .leaf > .breadcrum .link {
	color: #1F1F1F;
	font-size: 12px;
}

.body .trunk .branches .leaf > .main {
	display: table;
	width: 100%;
	padding-bottom: 83px;
}

.body .trunk .branches .leaf > .main > .sidebar {
	display: table;
	float: left;
	width: 265px;
}

.body .trunk .branches .leaf > .main > .sidebar .menu .heading {
	display: block;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
	padding: 0 16px;
	background: #006FC5;
	text-decoration: none;
}

.body .trunk .branches .leaf > .main > .sidebar .menu .item {
	display: block;
	color: #1F1F1F;
	font-size: 14px;
	line-height: 40px;
	padding: 0 16px 0 32px;
	background-color: #FFFFFF;
	background-image: url(../images/common/menu_bullet.gif);
	background-repeat: no-repeat;
	background-position: 15px center;
	border-top: 1px solid #F7F7F7;
	text-decoration: none;
}

.body .trunk .branches .leaf > .main > .sidebar .menu .item.active {
	color: #006FC5;
}

.body .trunk .branches .leaf > .main > .content {
	display: table;
	float: right;
	width: 835px;
}

.body .trunk .branches .leaf > .contact {
	display: table;
}

.body .trunk .branches .leaf > .contact .message {
	float: left;
	position: relative;
	color: #FFFFFF;
  font-family: 'Noto Sans Japanese', sans-serif;
	font-size: 18px;
	line-height: 1;
	margin: 40px 23px 0 72px;
	letter-spacing: 0.8px;
}

.body .trunk .branches .leaf > .contact .message:after {
	content: " ";
	display: block;
	width: 100%;
	height: 3px;
	margin: 10px 0 0;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;	
}

.body .trunk .branches .leaf > .contact .link {
	float: right;
	color: #006EC5;
	font-size: 18px;
	font-weight: bold;
	width: 258px;
	line-height: 60px;
	padding-left: 102px;
	margin: 20px 0;
	background-color: #FFFFFF;
	background-image: url(../images/common/contact-link-icon.gif);
	background-repeat: no-repeat;
	background-position: 59px center;
	letter-spacing: 1.6px;
	text-decoration: none;
}
/* ↑ ここまで - 2015/12/04 - ヘッダー、パンくずリスト、メインコンテンツ、サイドメニュー、「スペシャリストに相談」ブロック */

.area-headblue {
  height: 50px;
  width: 100%;
  background-color: #006FC5;
}

.subnav {
  float: right;
  height: 100%;
  color: #fff;
  display: table;
  *zoom: 1;
}
.subnav > * {
  display: table-cell;
  vertical-align: middle;
}
.subnav:before, .subnav:after {
  content: " ";
  display: table;
}
.subnav:after {
  clear: both;
}
.subnav > .children {
  letter-spacing: 1px;
}
.subnav > .item {
  font-size: 1.2rem;
  padding-right: 10px;
}
.subnav > .tel {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.8rem;
  padding-right: 5px;
}
.subnav > .ontime {
  font-size: 1.4rem;
  padding-right: 25px;
}
.subnav > .ontime span {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6rem;
}
.subnav > .search {
  padding-right: 20px;
}
.subnav > .search > .form {
  position: relative;
}
.subnav > .search > .form > .search-box {
  height: 24px;
  width: 180px;
  border: 1px solid #DDD;
}
.subnav > .search > .form > .search-btn {
  box-sizing: border-box;
  position: absolute;
  right: 0px;
  top: 1px;
  height: 24px;
  width: 24px;
  background: none;
  border: none;
  padding: 0;
  color: #999;
}
.subnav > .jp .link {
  height: 50px;
  width: 50px;
  background-color: rgba(57, 56, 104, 0.5);
  text-align: center;
  display: table;
  color: #fff;
  text-decoration: none;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.subnav > .jp .link .middle {
  display: table-cell;
  vertical-align: middle;
}
.subnav > .jp .link:hover {
  color: #fff;
  background-color: rgba(57, 56, 104, 0.3);
}
.subnav > .en .link {
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  display: table;
  color: #fff;
  text-decoration: none;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.subnav > .en .link .middle {
  display: table-cell;
  vertical-align: middle;
}
.subnav > .en .link:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.55);
}

.nav {
  overflow-x: hidden;
  background-color: #fff;
  border-bottom: 1px #CBCBCB solid;
}
.nav .gnav {
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  width: 1120px;
  /*ロゴはhoverかからない*/
}
.nav .gnav > * {
  float: left;
}
.nav .gnav:before, .nav .gnav:after {
  content: " ";
  display: table;
}
.nav .gnav:after {
  clear: both;
}
.nav .gnav > .children:first-of-type .w .link {
  display: table;
  padding-left: 0em;
  height: 100%;
  padding: 0;
  -moz-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.nav .gnav > .children:first-of-type .w .link > .middle {
  display: table-cell;
  vertical-align: middle;
}
.nav .gnav > .children:first-of-type .w .link:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-transition: ease 0.8s;
  -o-transition: ease 0.8s;
  -webkit-transition: ease 0.8s;
  transition: ease 0.8s;
}
.nav .gnav > .children:nth-of-type(2) {
  margin-left: 105px;
}
.nav .gnav > .children:nth-of-type(n+1) .w {
  position: relative;
  height: 80px;
  display: table;
  padding-left: 0em;
}
.nav .gnav > .children:nth-of-type(n+1) .w > .middle {
  display: table-cell;
  vertical-align: middle;
}
.nav .gnav > .children:nth-of-type(n+1) .w .link.level1 {
  padding-left: 17px !important;
  padding-right: 17px !important;
  color: #222;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  height: 100%;
  text-align: center;
  display: table;
  padding-left: 0em;
  -moz-transition: linear 0.2s 0s;
  -o-transition: linear 0.2s 0s;
  -webkit-transition: linear 0.2s;
  -webkit-transition-delay: 0s;
  transition: linear 0.2s 0s;
}
.nav .gnav > .children:nth-of-type(n+1) .w .link.level1 > .middle {
  display: table-cell;
  vertical-align: middle;
}
.nav .gnav > .children:nth-of-type(n+1) .w .link.level1:hover {
  background-color: #EEE;
  color: #006FC5;
}
.nav .gnav > .children:nth-of-type(n+1) .w:hover .drop-menu {
  height: 320px;
}
.nav .gnav > .children:nth-of-type(n+1) .w .positioning {
  position: absolute;
  height: 100%;
}
.nav .gnav > .children:nth-of-type(n+1) .w .positioning > .link.level1 {
  width: 70px;
}
.nav .gnav .drop-menu {
  display: none;
}
.nav .gnav > .children:nth-of-type(2) .drop-menu {
  bottom: 80px;
  left: 0;
  position: absolute;
  z-index: 10000;
  display: block;
  width: 100%;
  min-width: 1120px;
  background-color: #EEE;
  height: 0;
  overflow: hidden;
  box-sizing: border-box;
  max-height: 20000px;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.nav .gnav > .children:nth-of-type(2) .drop-menu > .list {
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  margin-top: 30px;
  width: 1120px;
}
.nav .gnav > .children:nth-of-type(2) .drop-menu > .list > * {
  float: left;
  margin-left: 20px;
}
.nav .gnav > .children:nth-of-type(2) .drop-menu > .list > *:first-of-type {
  margin-left: 0;
}
.nav .gnav > .children:nth-of-type(2) .drop-menu > .list:before, .nav .gnav > .children:nth-of-type(2) .drop-menu > .list:after {
  content: " ";
  display: table;
}
.nav .gnav > .children:nth-of-type(2) .drop-menu > .list:after {
  clear: both;
}
.nav .gnav > .children:nth-of-type(2) .drop-menu > .list .icon-caret-right {
  font-size: 1rem;
  padding-right: 10px;
  vertical-align: 3px;
  color: #006FC5;
}
.nav .gnav > .children:nth-of-type(2) .drop-menu > .list > .children {
  width: 360px;
  height: 260px;
  background-color: #fff;
  -moz-box-shadow: 1px 1px 2px rgba(51, 51, 51, 0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(51, 51, 51, 0.2);
  box-shadow: 1px 1px 2px rgba(51, 51, 51, 0.2);
}
.nav .gnav > .children:nth-of-type(2) .drop-menu > .list > .children > .link {
  width: 100%;
  height: 60px;
  display: table;
  padding-left: 0em;
  text-align: center;
  color: #222;
  font-size: 1.6rem;
  text-decoration: none;
}
.nav .gnav > .children:nth-of-type(2) .drop-menu > .list > .children > .link > .middle {
  display: table-cell;
  vertical-align: middle;
}
.nav .gnav > .children:nth-of-type(2) .drop-menu > .list > .children > .link .underline {
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-bottom: 1px rgba(34, 34, 34, 0) solid;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.nav .gnav > .children:nth-of-type(2) .drop-menu > .list > .children > .link:hover .underline {
  border-bottom: 1px #222222 solid;
}
.nav .gnav > .children:nth-of-type(2) .drop-menu > .list > .children > .list {
  margin-top: 15px;
  margin-left: 18px;
}
.nav .gnav > .children:nth-of-type(2) .drop-menu > .list > .children > .list > .children .link {
  color: #222;
  font-size: 1.4rem;
  line-height: 1.6;
  text-decoration: none;
}
.nav .gnav > .children:nth-of-type(2) .drop-menu > .list > .children > .list > .children .link .underline {
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-bottom: 1px #222222 solid;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.nav .gnav > .children:nth-of-type(2) .drop-menu > .list > .children > .list > .children .link:hover .underline {
  border-bottom: 1px rgba(34, 34, 34, 0.2) solid;
}
.nav .gnav > .children:nth-of-type(2):hover {
  background-color: #EEE;
}
.nav .gnav > .children:nth-of-type(2):hover .level1 {
  color: #006FC5;
}
.nav .gnav > .children:nth-of-type(2):hover .drop-menu {
  height: 320px;
}

.footer > .list {
  padding-top: 40px;
  padding-bottom: 30px;
  *zoom: 1;
}
.footer > .list > * {
  float: left;
}
.footer > .list:before, .footer > .list:after {
  content: " ";
  display: table;
}
.footer > .list:after {
  clear: both;
}
.footer > .list > .children {
  width: 224px;
}
.footer > .list > .children > .list {
  padding-left: 13px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.footer > .list > .children > .list > .children {
  padding-bottom: 12px;
}
.footer > .list > .children > .list > .children:last-of-type {
  padding-bottom: 0;
}
.footer > .list > .children > .list > .children > .link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #222;
}
.footer > .list > .children > .list > .children > .link .underline {
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-bottom: 1px rgba(34, 34, 34, 0) solid;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.footer > .list > .children > .list > .children > .link:hover .underline {
  border-bottom: 1px #222222 solid;
}
.footer > .list > .children > .list > .children > .link.head .underline {
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-bottom: 1px rgba(0, 111, 197, 0) solid;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.footer > .list > .children > .list > .children > .link.head:hover .underline {
  border-bottom: 1px #006fc5 solid;
}
.footer > .list > .children > .list > .children > .link > .ttl {
  font-size: 1.4rem;
  color: #006FC5;
  position: relative;
  padding-bottom: 5px;
}
.footer > .list > .children > .list > .children > .link > .ttl:before {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 2px;
  top: 1px;
  left: -13px;
  background-color: #006FC5;
}
.footer .area-footblue {
  width: 100%;
  background-color: #006FC5;
}
.footer .area-footblue .list {
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
  *zoom: 1;
}
.footer .area-footblue .list > * {
  float: left;
}
.footer .area-footblue .list > *:last-child {
  float: right;
}
.footer .area-footblue .list:before, .footer .area-footblue .list:after {
  content: " ";
  display: table;
}
.footer .area-footblue .list:after {
  clear: both;
}
.footer .area-footblue .list > .children {
  height: 50px;
  display: table;
  padding-left: 0em;
}
.footer .area-footblue .list > .children > .middle {
  display: table-cell;
  vertical-align: middle;
}
.footer .area-footblue .list > .children .link {
  height: 19px;
  border-left: 1px solid #fff;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}
.footer .area-footblue .list > .children .link .underline {
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-bottom: 1px rgba(255, 255, 255, 0) solid;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.footer .area-footblue .list > .children .link:hover .underline {
  border-bottom: 1px white solid;
}
.footer .area-footblue .list > .children .copyright {
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 1.2rem;
}
.footer .area-footblue .list > .children:first-of-type .link {
  border-left: none;
  padding-left: 0;
}

.pagetop {
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #006FC5;
  display: table;
  padding-left: 0em;
  text-align: center;
  position: fixed;
  z-index: 10000;
  bottom: 90px;
  right: 45px;
  text-decoration: none;
  -moz-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.pagetop > .middle {
  display: table-cell;
  vertical-align: middle;
}
.pagetop:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  -moz-transition: ease 0.8s;
  -o-transition: ease 0.8s;
  -webkit-transition: ease 0.8s;
  transition: ease 0.8s;
}
.pagetop .icomoon-thin-angle-up {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.fttl.portal {
  font-size: 2.4rem;
  font-family: 'Noto Sans Japanese', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 2.5rem;
}
.fttl.portal .english {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  color: #006FC5;
}
.fttl.portal .english:after {
  content: "\a";
  white-space: pre;
}
.fttl.portal .english .kerning {
  letter-spacing: 1px;
}

/* ↓ ここから - 2016/02/19 - ピックアップテンプレート */
.main-banner {
	width: 100%;
	min-width: 1120px;
	position: relative;
}
.main-banner img {
	width: 100%;
}
.pickup-text {
	position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 60px;
    text-align: center;
		background-color: #ffffff;
		opacity: 0.8;
    width: 550px;
		padding-top: 40px;
}
.pickup-social{
	position: absolute;
	top: 14px;
	right: 10px;
}
.twitter-share-button{
	float: left;
	padding-right: 10px;
}
.fb_iframe_widget{
	float: left;
}
.pickup-title-des {
	font-size: 16px;
}
.pickup-main-title {
	font-size: 48px;
	margin-bottom: 20px;
}
.pickup-menu-icon{
	position: absolute;
	top: 15px;
	left: 25px;
	cursor: pointer;
}
.pickup-side-menu{
	position: absolute;
	top: 0px;
	left: -300px;
	bottom: 0px;
	width: 300px;
	background-color: #006FC5;
}
.pickup-side-menu .item{
	border-bottom: 1px solid #004376;
}
.pickup-side-menu .item.icon{
	text-align: right;
	border: none;
	padding: 10px 0px;
}
.pickup-side-menu .item.icon .link{
	display: inline;
	cursor: pointer;
}
.pickup-side-menu .item.icon img{
	width: auto;
}
.pickup-side-menu .item.title{
	text-align: center;
}
.pickup-side-menu .item.title,
.pickup-side-menu .item .link{
	color: #ffffff;
	display: block;
	font-size: 16px;
	line-height: 1.75;
	padding: 15px;
	text-decoration: none;
}
.pickup-side-menu .item .link span{
	font-size: 12px;
	display: block;
}
.pickup-menu {
	background-color: #006fc5;
	margin: auto;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	min-width: 1120px;
	overflow: hidden;
}
.pickup-menu ul {
	display: inline-block;
	list-style:none;
}
.pickup-menu ul li {
	display: inline;
}
.pickup-menu ul li a {
	float: left;
	text-decoration:none;
	color: #fff;
	padding:0 30px; /* variable width */
	line-height: 60px;
}
.pickup-contact-title {
	line-height: 60px;
	color: #fff;
	font-size: 18px;
	text-align: center;
}
.pickup-contact-button {
	clear: both;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 360px;
	line-height: 50px;
	font-size: 16px;
	color: #FFF;
	letter-spacing: 1.5px;
	display: block;
	margin: auto;
	background: url(../images/common/img-contact-bg.png) no-repeat 320px center;
	background-color: #006FC5;
	text-decoration:none;
	border-radius: 3px;
}
.pickup-footer {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.pickup-footer .list{
	padding: 10px 0px;
}
.pickup-footer .list > .children {
	display: table;
	height: 50px;
	padding-left: 0;
	width: auto;
}
.pickup-footer .list > .children > .middle {
	display: table-cell;
	vertical-align: middle;
}
.pickup-footer .list > .children.corporate a{
	background: #006FC5 url("../images/common/bottom-link.png") no-repeat scroll 90% center;
	color: #fff;
	display: block;
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	padding: 0 30px 0 0;
	text-align: center;
	text-decoration: none;
	width: 160px;
	margin-left: 25px;
	box-sizing: border-box;
}
.pickup-footer .list > .children.copyright{
	float: right;
	font-family: "Roboto Condensed",sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.pickup .area-headblue {
	height: auto;
}
.clear{
	clear: both;
}
/* ↑ ここまで - 2016/02/19 - ピックアップテンプレート */

/*# sourceMappingURL=common.css.map */
