<!doctype html>
<html>
<!-- InstanceBegin template="Templates/template.dwt" codeOutsideHTMLIsLocked="false" -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>化学品、合成樹脂、樹脂製品、包装資材｜北村化学産業株式会社｜商品紹介-ピックアップ商品</title>
    <!-- InstanceEndEditable -->
    <meta content="[会社名]は、[取扱商品]を扱う[地域名]の[業種]会社です。" name="description">
    <meta content="[会社名],[地域名],[業種],[取扱商品]" name="keywords">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <!--Web font-->
    <link href='http://fonts.googleapis.com/earlyaccess/notosansjapanese.css' rel='stylesheet' type='text/css'>
    <!--Web font-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!--Web font-->
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <!-- InstanceBeginEditable name="head" -->
    <link href="./css/index.css" rel="stylesheet">
    <!-- InstanceEndEditable -->
    <!--[if lt IE 9]>
<script src="./js/html5shiv.js"></script>
<![endif]-->
</head>

<body id="top" class="body">

    <div class="trunk">
        <header class="header branches">
            <div class="area-headblue">
                <ul class="subnav">
                    <li class="children item">
                        お電話でのお問合せ
                    </li>
                    <li class="children tel">
                        06-6202-8171
                    </li>
                    <li class="children search">
                        <form action="" class="form">
                            <input type="text" class="search-box" value="" />
                            <button type="submit" class="search-btn icon-search"></button>
                        </form>
                    </li>
                    <li class="children jp">
                        <a href="/" class="link">
                            <span class="middle">JP</span>
                        </a>
                    </li>
                    <li class="children en">
                        <a href="/" class="link">
                            <span class="middle">EN</span>
                        </a>
                    </li>
                </ul>
            </div>

            <nav class="nav">
                <ul class="gnav">
                    <li class="children">
                        <div class="w">
                            <a href="/" class="link"><span class="middle"><img src="images/common/logo.png" height="41" width="285" alt="" class="logo"></span></a>
                        </div>
                    </li>
                    <li class="children">
                        <div class="drop-menu">
                            <ul class="list">
                                <li class="children">
                                    <a href="/" class="link head"><span class="middle"><i class="icon-caret-right"></i><span class="underline">創業120年の信頼と実績</span></span></a>
                                    <img src="images/common/img_navhover01.jpg" height="200" width="360" alt="" class="photo">
                                </li>
                                <li class="children">
                                    <a href="/" class="link head"><span class="middle"><i class="icon-caret-right"></i><span class="underline">未来への挑戦</span></span></a>
                                    <img src="images/common/img_navhover02.jpg" height="100" width="360" alt="" class="photo">
                                    <ul class="list">
                                        <li class="children"><i class="icon-caret-right"></i><a href="/" class="link"><span class="underline">イノベーターとしてR&amp;Dへ取り組み</span>
</a></li>
                                        <li class="children"><i class="icon-caret-right"></i><a href="/" class="link"><span class="underline">事業企画会社への変革</span>
</a></li>
                                        <li class="children"><i class="icon-caret-right"></i><a href="/" class="link"><span class="underline">グローバル展開</span></a></li>
                                    </ul>
                                </li>
                                <li class="children">
                                    <a href="/" class="link head"><span class="middle"><i class="icon-caret-right"></i><span class="underline">化学・樹脂のスペシャリスト</span></span></a>
                                    <img src="images/common/img_navhover03.jpg" height="100" width="360" alt="" class="photo">
                                    <ul class="list">
                                        <li class="children"><i class="icon-caret-right"></i><a href="/" class="link"><span class="underline">化学のスペシャリスト</span>
</a></li>
                                        <li class="children"><i class="icon-caret-right"></i><a href="/" class="link"><span class="underline">樹脂のスペシャリスト</span>
</a></li>
                                        <li class="children"><i class="icon-caret-right"></i><a href="/" class="link"><span class="underline">包装資材のスペシャリスト</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="w">
                            <a href="/" class="link level1"><span class="middle">北村化学産業が目指すもの</span></a>
                        </div>
                    </li>
                    <li class="children">
                        <div class="drop-menu">
                            <ul class="list">
                                <li class="children">
                                    &thinsp;
                                </li>
                            </ul>
                        </div>
                        <div class="w">
                            <a href="/" class="link level1"><span class="middle">企業情報</span></a>
                        </div>
                    </li>
                    <li class="children">
                        <div class="drop-menu">
                            <ul class="list">
                                <li class="children">
                                    &thinsp;
                                </li>
                            </ul>
                        </div>
                        <div class="w">
                            <a href="/" class="link level1"><span class="middle">事業紹介</span></a>
                        </div>
                    </li>
                    <li class="children">
                        <div class="drop-menu">
                            <ul class="list">
                                <li class="children">
                                    &thinsp;
                                </li>
                            </ul>
                        </div>
                        <div class="w">
                            <a href="/" class="link level1"><span class="middle">商品紹介</span></a>
                        </div>
                    </li>
                    <li class="children">
                        <div class="drop-menu">
                            <ul class="list">
                                <li class="children">
                                    &thinsp;
                                </li>
                            </ul>
                        </div>
                        <div class="w">
                            <a href="/" class="link level1"><span class="middle">採用情報</span></a>
                        </div>
                    </li>
                    <li class="children">
                        <div class="drop-menu">
                            <ul class="list">
                                <li class="children">
                                    &thinsp;
                                </li>
                            </ul>
                        </div>
                        <div class="w">
                            <div class="positioning">
                                <a href="/" class="link level1"><span class="middle">お問合せ</span></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- edit start -->

        <!-- InstanceBeginEditable name="content" -->

        <!-- Page title -->
        <section class="branches dark-grey">
            <h1 class="leaf title">商品紹介-ピックアップ商品</h1>
        </section>

        <!-- Page breadcrum -->
        <section class="branches grey">
            <div class="leaf">
                <ol class="breadcrum">
                    <li class="item"><a class="link" href="/">トップページ</a><span class="separator">&gt;</span></li>
                    <li class="item"><a class="link" href="/">商品紹介</a><span class="separator">&gt;</span></li>
                    <li class="item">ピックアップ商品</li>
                </ol>
            </div>

            <!-- Page main -->
            <div class="leaf">
                <div class="main">

                    <!-- Page main content-->
                    <div class="main-content">

						<h3 class="test", id="test"></h3>

                        <!-- Title-->
                        <h3 class="leaf title main-content-title">ピックアップ商品</h3>

                        <!-- Subconent-->
                        <div class="sub-content-parent">

                            <!--SubContent1-->
                            <div class="sub-content1">

                                <h4 class="leaf title sub-title">水回りリフォーム材</h4>

                                <div class="sub-content-item">
                                    <a>
                                        <div><img src="images/index/pick-menu-item-resin-prod-02.jpg" alt=""></div>
                                        <p class="item-link">エルクリーン</p>
                                    </a>

                                    <a>
                                        <div><img src="images/index/pick-menu-item-resin-prod-03.jpg" alt=""></div>
                                        <p class="item-link">コンフォートパネル</p>
                                    </a>

                                    <a class="item-end">
                                        <div><img src="images/index/pick-menu-item-resin-prod-04.jpg" alt=""></div>
                                        <p class="item-link">サンダインフロア</p>
                                    </a>
                                </div>
                            </div>

                            <!--SubConent2-->
                            <div class="sub-content1">

                                <h4 class="leaf title sub-title">屋外デッキ材</h4>

                                <div class="sub-content-item">
                                    <a>
                                        <div><img src="images/index/pick-menu-item-resin-prod-06.jpg" alt=""></div>
                                        <p class="item-link">れい樹</p>
                                    </a>

                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- Search tab-->
                    <div class="main-content">

                        <!-- Title-->
                        <h3 class="leaf title main-content-title">製品検索</h3>

                        <!--Search tab-->
                        <div class="search-tab">                        	

	                        <ul class="search-tab-list">
	                        	<li data-tab="#tab_interior" class="active">
	                        		内装建材
	                        	</li>

	                        	<li data-tab="#tab_exterior">
	                        		外装・外構建材
	                        	</li>

	                        	<li data-tab="#tab_other">
	                        		その他資材
	                        	</li>

	                        </ul>

                        </div>

                        <div class="search-details">
                        	<!--Search content-->
                        <div id="tab_interior" class="search-content">

                        	<a>
                        		<div><img src="images/index/pick-menu-item-resin-03(small).jpg" alt=""></div>
                        		<p>高級壁紙（装飾シート）</p><br/>
                        		<p>パロア</p>
                        	</a>

                        	<a>
                        		<div><img src="images/index/pick-menu-item-resin-prod-01(small).jpg" alt=""></div>
                        		<p>高級壁紙（装飾シート）</p><br/>
                        		<p>パロア</p>
                        	</a>

                        	<a>
                        		<div><img src="images/index/pick-menu-item-chemical-01(small).jpg" alt=""></div>
                        		<p>高級壁紙（装飾シート）</p><br/>
                        		<p>パロア</p>
                        	</a>

                        	<a>
                        		<div><img src="images/index/pick-menu-item-chemical-02(small).jpg" alt=""></div>
                        		<p>高級壁紙（装飾シート）</p><br/>
                        		<p>パロア</p>
                        	</a>

                        	<a>
                        		<div><img src="images/index/pick-menu-item-resin-prod-02(small).jpg" alt=""></div>
                        		<p>高級壁紙（装飾シート）</p><br/>
                        		<p>パロア</p>
                        	</a>

                        	<a>
                        		<div><img src="images/index/pick-menu-item-resin-prod-03(small).jpg" alt=""></div>
                        		<p>高級壁紙（装飾シート）</p><br/>
                        		<p>パロア</p>
                        	</a>

                        	<a>
                        		<div><img src="images/index/pick-menu-item-resin-prod-04(small).jpg" alt=""></div>
                        		<p>高級壁紙（装飾シート）</p><br/>
                        		<p>パロア</p>
                        	</a>

                        	<a>
                        		<div><img src="images/index/pick-menu-item-resin-prod-06(small).jpg" alt=""></div>
                        		<p>高級壁紙（装飾シート）</p><br/>
                        		<p>パロア</p>
                        	</a>

                        	<a>
                        		<div><img src="images/index/pick-menu-item-resin-prod-05(small).jpg" alt=""></div>
                        		<p>高級壁紙（装飾シート）</p><br/>
                        		<p>パロア</p>
                        	</a>

                        </div>

                        <!--Search content-->
                        <div id="tab_exterior" class="search-content">

                        	<a>
                        		<div><img src="images/index/pick-menu-item-resin-prod-02(small).jpg" alt=""></div>
                        		<p>高級壁紙（装飾シート）</p><br/>
                        		<p>パロア</p>
                        	</a>

                        	<a>
                        		<div><img src="images/index/pick-menu-item-resin-prod-03(small).jpg" alt=""></div>
                        		<p>高級壁紙（装飾シート）</p><br/>
                        		<p>パロア</p>
                        	</a>

                        	<a>
                        		<div><img src="images/index/pick-menu-item-resin-prod-04(small).jpg" alt=""></div>
                        		<p>高級壁紙（装飾シート）</p><br/>
                        		<p>パロア</p>
                        	</a>

                        	<a>
                        		<div><img src="images/index/pick-menu-item-resin-prod-06(small).jpg" alt=""></div>
                        		<p>高級壁紙（装飾シート）</p><br/>
                        		<p>パロア</p>
                        	</a>

                        	<a>
                        		<div><img src="images/index/pick-menu-item-resin-prod-05(small).jpg" alt=""></div>
                        		<p>高級壁紙（装飾シート）</p><br/>
                        		<p>パロア</p>
                        	</a>

                        </div>

                        <!--Other search content-->
                        <div id="tab_other" class="search-content">

                        	<a>
                        		<div><img src="images/index/pick-menu-item-resin-prod-04(small).jpg" alt=""></div>
                        		<p>高級壁紙（装飾シート）</p><br/>
                        		<p>パロア</p>
                        	</a>

                        	<a>
                        		<div><img src="images/index/pick-menu-item-resin-prod-06(small).jpg" alt=""></div>
                        		<p>高級壁紙（装飾シート）</p><br/>
                        		<p>パロア</p>
                        	</a>

                        	<a>
                        		<div><img src="images/index/pick-menu-item-resin-prod-05(small).jpg" alt=""></div>
                        		<p>高級壁紙（装飾シート）</p><br/>
                        		<p>パロア</p>
                        	</a>

                        </div>
                        </div>

                        


                    </div>

                </div>
                <div class="ind-search">
                    <div class="ind-search-button">取扱商材検索</div>
                    <div class="ind-search-form">
                        <form action="">
                            <a class="ind-search-area" href="/">事業領域から探す</a>
                            <a class="ind-search-market" href="/">市場から探す</a>
                            <p>フリーワードから探す</p>
                            <input class="ind-search-keyword" type="text" value="" />
                            <input class="ind-search-submit" type="submit" value="検索" />
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- InstanceEndEditable -->
        <section class="branches blue">
            <div class="leaf">
                <div class="contact">
                    <p class="message">ご相談・ご質問等、ございましたらお気軽にお問合せください。</p>
                    <a class="link" href="/">お問合せ</a>
                </div>
            </div>
        </section>

        <!-- edit end -->

        <footer class="branches footer">
            <ul class="list leaf">
                <li class="children">
                    <ul class="list">
                        <li class="children"><a href="/" class="link head"><h3 class="ttl"><span class="underline">北村化学が目指すもの</span></h3></a></li>
                        <li class="children"><a href="/" class="link"><span class="underline">創業120年の信頼と実績</span></a></li>
                        <li class="children"><a href="/" class="link"><span class="underline">未来への挑戦</span></a></li>
                        <li class="children"><a href="/" class="link"><span class="underline">化学・樹脂のスペシャリスト</span></a></li>
                    </ul>
                </li>
                <li class="children">
                    <ul class="list">
                        <li class="children"><a href="/" class="link head"><h3 class="ttl"><span class="underline">企業情報</span></h3></a></li>
                        <li class="children"><a href="/" class="link"><span class="underline">会社概要</span></a></li>
                        <li class="children"><a href="/" class="link"><span class="underline">代表挨拶</span></a></li>
                        <li class="children"><a href="/" class="link"><span class="underline">組織図</span></a></li>
                        <li class="children"><a href="/" class="link"><span class="underline">沿革</span></a></li>
                        <li class="children"><a href="/" class="link"><span class="underline">事業拠点</span></a></li>
                        <li class="children"><a href="/" class="link"><span class="underline">経営理念</span></a></li>
                        <li class="children"><a href="/" class="link"><span class="underline">中期経営計画</span></a></li>
                        <li class="children"><a href="/" class="link"><span class="underline">決算情報</span></a></li>
                        <li class="children"><a href="/" class="link"><span class="underline">環境への取り組み</span></a></li>
                    </ul>
                </li>
                <li class="children">
                    <ul class="list">
                        <li class="children"><a href="/" class="link head"><h3 class="ttl"><span class="underline">事業紹介</span></h3></a></li>
                        <li class="children"><a href="/" class="link"><span class="underline">化成品(化学原料)</span></a></li>
                        <li class="children"><a href="/" class="link"><span class="underline">合成樹脂</span></a></li>
                        <li class="children"><a href="/" class="link"><span class="underline">樹脂製品</span></a></li>
                        <li class="children"><a href="/" class="link"><span class="underline">包装資材</span></a></li>
                        <li class="children"><a href="/" class="link"><span class="underline">海外事業部</span></a></li>
                    </ul>
                </li>
                <li class="children">
                    <ul class="list">
                        <li class="children"><a href="/" class="link head"><h3 class="ttl"><span class="underline">商品紹介</span></h3></a></li>
                        <li class="children"><a href="/" class="link"><span class="underline">商品紹介</span></a></li>
                        <li class="children"><a href="/" class="link"><span class="underline">ピックアップ商品</span></a></li>
                    </ul>
                </li>
                <li class="children">
                    <ul class="list">
                        <li class="children"><a href="/" class="link head"><h3 class="ttl"><span class="underline">採用情報</span></h3></a></li>
                        <li class="children"><a href="/" class="link head"><h3 class="ttl"><span class="underline">お問合せ</span></h3></a></li>
                        <li class="children"><a href="/" class="link head"><h3 class="ttl"><span class="underline">ヒト×カガク×ミライ</span></h3></a></li>
                    </ul>
                </li>
            </ul>
            <div class="area-footblue">
                <ul class="list">
                    <li class="children"><span class="middle"><a href="/" class="link"><span class="underline">情報セキュリティポリシー</span></a>
                        </span>
                    </li>
                    <li class="children"><span class="middle"><a href="/" class="link"><span class="underline">個人情報の取り扱いについて</span></a>
                        </span>
                    </li>
                    <li class="children"><span class="middle"><a href="/" class="link"><span class="underline">サイトマップ</span></a>
                        </span>
                    </li>
                    <li class="children"><span class="middle"><p class="copyright">© Copyright KITAMURA CHEMICALS CO.,LTD. All rights reserved.</p></span></li>
                </ul>
            </div>

        </footer>
    </div>

    <a class="pagetop" href="#top">
        <i class="middle icomoon-thin-angle-up"></i>
    </a>
    <!--[if lt IE 9]>
<script src="./js/jquery-1.10.2.min.js"></script>
<![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="./js/jquery-2.0.3.min.js"></script>
    <!--<![endif]-->
    <script src="./js/jline.min.js"></script>
    <script src="./js/jquery.easie.js"></script>
    <script src="./js/jquery.easing.js"></script>
    <script src="./js/rem.min.js"></script>
    <script src="./js/media.js"></script>
    <script src="./js/standard010.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/lower.js"></script>
    <script src="./js/index.js"></script>
    <!-- InstanceBeginEditable name="script" -->
    <!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd -->

</html>